# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
vendor/

# Node
node_modules/
.next/
out/
build/
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Misc
*.log
.env 